{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<style>
  .body{
    background-color: rgba(45, 178, 132, 0.695);
    background-image: url("{% static 'images/AboutCake3.jpg' %}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100% !important;
    height: 42rem !important;
    
    z-index: 1;
  }
  .body h2{
    color: rgb(255, 255, 255);
    background-color: rgba(206, 203, 203, 0.056);
    border-radius: 50px;
    padding: 5px;
  
  }
  .container-fluid{
    border-radius: 20px;
    padding: 20px;

   
    background-color: rgba(0, 0, 0, 0.396)  !important; /* Black w/opacity/see-through */
  z-index: 2 !important;
  color: antiquewhite !important;
  }
  .mybtnone3{
    background-color: rgb(213, 222, 133);
    color: rgb(0, 0, 0) !important;
    position: relative;
        margin-top: 2px;
        width: 20%;
        bottom: 0px;
    border-radius: 35px;
    box-shadow: 1px 1px 13px 1px rgb(0, 0, 0);
    border: none;
    
  }
  .mybtnone3:hover{
  background-color : #20af00
  }
</style>
<div class="body">
<div class="container">
    <h2 style="margin-top:10px; padding-top:10px" align="center">Change Password</h2><hr>

<div class="container-fluid" style="width:70%;">
<form method="post" action="">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Old Password</label>
    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="pwd3">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">New Password</label>
    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="pwd1">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"  name="pwd2">
  </div>
  <button type="submit" class="btn btn-primary mybtnone3">Submit</button>
</form>
</div>
</div>
</div>

{% ifequal error "yes" %}
<script>
    alert('Password Changed.....');
    window.location=('{% url 'logout' %}')
</script>
{% endifequal %}
{% ifequal error "not" %}
<script>
    alert('New Password and Confirm Password are not match');
</script>
{% endifequal %}

{% endblock %}