{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'css/own.css' %}">

<style>
    ul {
        margin: 0px;
        padding: 0px;
    }
    .footer-section {
        border-radius: 20px 20px;
      background: #44422c;
      position: relative;
    }
    .footer-cta {
      border-bottom: 1px solid #373636;
    }
    .single-cta i {
      color: #25bdac;
      font-size: 30px;
      float: left;
      margin-top: 8px;
    }
    .cta-text {
      padding-left: 15px;
      display: inline-block;
    }
    .cta-text h4 {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 2px;
    }
    .cta-text span {
      color: #ffffff;
      font-size: 15px;
    }
    .footer-content {
      position: relative;
      z-index: 2;
    }
    .footer-pattern img {
      position: absolute;
      top: 0;
      left: 0;
      height: 330px;
      background-size: cover;
      background-position: 100% 100%;
    }
    .footer-logo {
      margin-bottom: 30px;
    }
    .footer-logo img {
        max-width: 200px;
    }
    .footer-text p {
      margin-bottom: 14px;
      font-size: 14px;
          color: #7e7e7e;
      line-height: 28px;
    }
    .footer-social-icon span {
      color: #fff;
      display: block;
      font-size: 20px;
      font-weight: 700;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 20px;
    }
    .footer-social-icon a {
      color: #fff;
      font-size: 16px;
      margin-right: 15px;
    }
    .footer-social-icon i {
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 38px;
      border-radius: 50%;
    }
    .facebook-bg{
      background: #3B5998;
    }
    .twitter-bg{
      background: #55ACEE;
    }
    .google-bg{
      background: #0a7b83;
    }
    .footer-widget-heading h3 {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 40px;
      position: relative;
    }
    .footer-widget-heading h3::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      height: 2px;
      width: 120px;
      background: #d36de2;
    }
    .footer-widget ul li {
      display: inline-block;
      float: left;
      width: 50%;
      margin-bottom: 12px;
    }
    .footer-widget ul li a:hover{
      color: #ff5e14;
    }
    .footer-widget ul li a {
      color: #878787;
      text-transform: capitalize;
    }
    .subscribe-form {
      position: relative;
      overflow: hidden;
    }
    .subscribe-form input {
      width: 100%;
      padding: 14px 28px;
      background: #2E2E2E;
      border: 1px solid #2E2E2E;
      color: #fff;
    }
    .subscribe-form button {
        position: absolute;
        right: 0;
        background: #ff5e14;
        padding: 13px 20px;
        border: 1px solid #ff5e14;
        top: 0;
    }
    .subscribe-form button i {
      color: #fff;
      font-size: 22px;
      transform: rotate(-6deg);
    }
    .copyright-area{
      background:  #21200e;
      padding: 25px 0;
    }
    .copyright-text p {
      margin: 0;
      font-size: 14px;
      color: #878787;
    }
    .copyright-text p a{
      color: #024141;
    }
    .footer-menu li {
      display: inline-block;
      margin-left: 20px;
    }
    .footer-menu li:hover a{
      color: #ff5e14;
    }
    .footer-menu li a {
      font-size: 14px;
      color: #878787;
    }
    .img-fluidd{
        width: 120px;
        background-color: wheat;
    }

    .footerLink{
      border-radius: 30px;
      
      box-shadow: 0.4px 0.4px 3px 0.4px rgb(193, 193, 193);
      margin-right: 7px;
      text-align: center;
        
        
    }

    .footerLink:hover{
        border-radius: 30px;
        background-color: #01111d !important;
        color: white !important;
        
    }
    .footer-social-icon .fa-whatsapp{
        background-color: green;
    }
    .footer-social-icon .fa-facebook-square{
        background-color: rgb(5, 148, 220);
    }
    .footer-social-icon .fa-linkedin-square{
        background-color: rgb(7, 20, 62);
    }
</style>

<!-- <style>
    .footer{
        position: relative;
        margin-top: 70px;
        width: 100%;
        bottom: 5px;
        height: 500px !important;
    }

    .f-info-links,.f-info-socials{
        background-color:#102727 ;
        width: 100%;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }
    
    
    .f-info-socials i{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 2rem;
        font-size: 1.2rem;
        cursor: pointer;
        border: none;
        color: #fffbfb;
    }
    
    .f-info-links a{
    border: none;
        text-decoration: none;
        color: #fffbfb;
         
    }
    
    .f-info-links a:hover{
        text-decoration: underline;
        border: none;
    
    }
    
    
    .f-info{
        height: 8rem;
        text-align: center;
        background-color:#102727 ;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: space-evenly;
        border:none;
        color: #fffbfb;
    }

</style> -->

<footer class="footer-section" style="margin-top: 10px;">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span> Tushar Raj , Noida 44 , Uttar pradesh </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>

                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>8521070595</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-envelope-open" aria-hidden="true"></i>

                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>tushar.raj7562mail@info.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="{% static 'images/CakeLogo.png' %} " class="img-fluidd" alt="logo"></a>
                        </div>
                      
                       
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link footerLink" href="{% url 'home'  %}" style="color:white">Home</a>
                              </li>
                          
                              <li class="nav-item">
                                <a class="nav-link footerLink" href="{% url 'about' %}" style="color:white">About</a>
                              </li>
                          
                              <li class="nav-item">
                                <a class="nav-link footerLink" href="{% url 'contact' %}" style="color:white">Contact</a>
                              </li>

                             <li class="nav-item">
                                 <a class="nav-link footerLink" href="{% url 'login_admin' %}" style="color:white">Admin Login</a>
                            </li>
                           
                        
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-social-icon">
                            
              
                
                            <span>Follow us</span>
                            <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                            <a href="#">  <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </div>


                        <!-- <div class="footer-widget-heading">
                            <h3>  <span>Follow us</span></h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div> -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2018, All Right Reserved By Cake Wolds Made By Tushar Raj</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            
                            <li class="nav-item">
                                <a class="nav-link footerLink" href="{% url 'home'  %}" style="color:white">Home</a>
                              </li>
                          
                              <li class="nav-item">
                                <a class="nav-link footerLink" href="{% url 'about' %}" style="color:white">About</a>
                              </li>
                          
                              <li class="nav-item">
                                <a class="nav-link footerLink" href="{% url 'contact' %}" style="color:white">Contact</a>
                              </li>

                             <li class="nav-item">
                                <a class="nav-link footerLink" href="{% url 'login' %}" style="color:white;">User Login</a>
                                </li>
                           
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    
<!-- 
    <footer >
        <div class="footer">
        <div class="f-info">
            <div class="f-info-socials">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>

            </div>
            <div class="f-info-brand"> <h4> &copy;  Cake Wrolds </h4> <p>All Copy rights reseverd by Cake Worlds</p> <p> This Website Made By Tushar Raj</p></div>
        </div>
       
        <div class="f-info-links" >
            <a href="/privacy">Privacy</a> 
            <a href="/terms">Terms</a>
        </div>
    </div>
    </footer> -->

    {% endblock %}
