{% extends 'navigation.html' %}
{% block body %}
{% load static %}

{% ifequal error "yes" %}
<script>
    alert('logged in successfully');
    window.location=('{% url 'admin_home' %}');
</script>
{% endifequal %}
{% ifequal error "not" %}
<script>
    alert('Username & Password are not Matching');
</script>
{% endifequal %}

<style>
  .body{
    background-color: rgba(45, 178, 132, 0.695);
    background-image: url("{% static 'images/AboutCake3.jpg' %}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100% !important;
    height: 42rem !important;
    
    z-index: 1;
  }
  .body h2{
    color: rgb(255, 255, 255);
    background-color: rgba(206, 203, 203, 0.056);
    border-radius: 50px;
    padding: 5px;
  
  }
.container-fluid{
  border-radius: 20px;
  padding: 20px;

 
  background-color: rgba(0, 0, 0, 0.396)  !important; /* Black w/opacity/see-through */
z-index: 2 !important;
color: antiquewhite !important;
}
</style>

<br>
<div class="body">
<div class="container">
    <h2 style="margin-top:20px" align="center">Admin Login Form</h2><hr>

<div class="container-fluid" style="width:70%;margin-top:10%">
<form method="post" action="">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="uname" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pwd">
  </div>
  <button type="submit" class="btn btn-primary mybtnone">Submit</button>

</form>
</div>
</div>
</div>

{% endblock %}